.articleSquare{
cursor: pointer;
}

.articleImage{
height: 200 px;
width: 300 px;
object-fit: cover;
border-radius: 4 px;
}

.articleParagraph{
max-width: 200 px;
text-align: center;
margin: 12 px 0 px;
}
